@import "../../lib/_mixins.scss";
@import "../../lib/_variables.scss";

.example {
  padding: 20px;

  @include mq("desktop-wide") {
    width: 95%;
    background: $blue;
  }

  //   @include mq("laptop") {
  //     width: 95%;
  //     background: red;
  //   }
  @include mqlg("mobileM") {
    width: 95%;
    background: #ffa801;
  }
  @include mq("iphone5") {
    width: 100%;
    background: $maroon;
  }

  @include mqlg("phone") {
    width: 95%;
    background: rgb(179, 179, 180);
  }

  @include mqlg("tablet") {
    width: 499px;
    background: green;
  }

  @include mqlg("laptop") {
    width: 700px;
    background: $drakGray;
  }
  @include mqlg("laptopL") {
    width: 700px;
    background: #3c40c6;
  }
}
